
html {
    scroll-snap-type: none;
}

body {
    min-height: auto;
}
.main {
    background-color: #f1f8f1;
    min-height: 73vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content {
    max-width: 750px;
    min-width: 500px;
    width: 70vw;
    margin: 100px 20px 100px 20px;
    height: min-content;
    padding: 10px;
    background-color: #DDFFDD;
    border: 0.5px #ccc solid;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.08) 3px 3px;
}

#content h1, p {
    text-align: center;
}

#title {
    font-size: 1.2rem;
    text-align: center;
}

#box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pic {
    border-radius: 10px;
    height: 300px;
    background-color: #aea;
    box-shadow: rgba(0,0,0,0.08) 3px 3px;
}

#theme {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

#explain {
    padding-top: 20px;
}

#detail, #explain {
    width: 90%;
}

#link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

.footer {
    scroll-snap-type: none;
}
