.main {
    background-color: #eeffee;
}

.contentblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 5%;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
    transition: background-color 0.3s ease;
}

.headingen {
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-size: 2.8rem;
    color: #0e6352;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.2;
}

.headingjp {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.2rem;
    color: #0e6352;
    margin: 0;
    text-align: center;
    line-height: 1.2;
    padding: 0;
}

.content-text {
    max-width: 900px;
    font-size: 1.15rem;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 2.5rem;
    color: #444;
}

@media (max-width: 768px) {
    .main {
        padding: 10px;
    }
    .contentblock {
        padding: 40px 3%;
        margin-bottom: 30px;
    }
    .heading {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }
    .content-text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}
